
<div class="container color-dark">
  <div class="col">
    <p>Aggiungi un obiettivo alla lista</p>
  </div>
  <div class="col">
    <p>Tua lista ({{ itemCount }})</p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p class="sm">Usa questa applicazione per aggiungere obiettivi alla tua vita...</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Obiettivo.." [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
      {{ goal }}
    </p>
  </div>
</div>